@use "../abstracts/" as *;
@use "../utilities/" as *;

/**
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    @include element-invisible;
}

/**
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden {
    &.focusable {
        &:active,
        &:focus {
            @include element-invisible-off;
        }
    }
}

/**
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

// Clearfix

.clearfix {
    @include clearfix;
}


// Remove bullet styling from lists

.listless {
    list-style: none;
    padding: 0;
    margin: 0; 
}

.arrow-up {
    @include arrow(up, $textColour, .7em);
}

.arrow-down {
    @include arrow(down, $textColour, .7em);
}

.arrow-left {
    @include arrow(left, $textColour, .7em);
}

.arrow-right {
    @include arrow(right, $textColour, .7em);
}